table{
/*	border: 3px solid green;*/
}

img{
	height:40px;
	width:40px;
}

.btn{
	border: 2px outset green;
	background-color:rgba(0,255,0,0.5);
}

.cell{
	border: 2px inset violet;
	padding:2px;
	height: 40px;
	width : 40px;
}

div{
	background-color:rgba(255,0,0,0.3);
	height: 40px;
	width:  40px;
	top: -40px;
	left:-110px;
	bottom:30px;
	right:30px;
}



.d2{
	background-color:yellow;
}

.d4{
        background-color:purple;
}

.d8{
        background-color:red;
}

.d16{
        background-color:green;
}

.d32{
        background-color:aliceblue;
}

.d64{
        background-color:aqua;
}

.d128{
        background-color:azure;
}

.d256{
        background-color:beige;
}

.d512{
        background-color:bisque;
}

.d1024{
        background-color:blueviolet;
}

.d2048{
        background-color:burlywood;
}


